<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Palease rate your service</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="company brand" class="logo" />
      <h1>Thank you!</h1>
      <h2>
        Thank you for rating your experience. We hope to see you again soon!
      </h2>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
